---
import Container from "../site/Container.astro";

import grab from "../../assets/klien/grab.png";
import gojek from "../../assets/klien/gojek.png";
import pertamina from "../../assets/klien/pertamina.svg";
import telkom from "../../assets/klien/telkom.png";
import kementrian from "../../assets/klien/kementrian.png";
---

<Container class="px-4 pt-24 pb-26 max-w-(--breakpoint-lg)">

    <p class="text-lg font-bold text-center mb-8">Trusted By</p>

    <div class="flex flex-col md:flex-row gap-12 md:gap-8 items-center md:justify-between">

        <img class="h-12" src={telkom.src} alt="Telkom" loading="eager"/>
        <img class="h-10" src={pertamina.src} alt="Pertamina" loading="eager" />
        <img class="h-20" src={kementrian.src} alt="Kementrian" loading="eager"/>
        <img class="h-10" src={grab.src} alt="Grab" loading="eager"/>
        <img class="h-10" src={gojek.src} alt="Gojek" loading="eager"/>

    </div>

</Container>
