---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/site/Header.astro";
import Footer from "../../components/site/Footer.astro";
import Container from "../../components/site/Container.astro";
import Title from "../../components/site/Title.astro";
import Hr from "../../components/site/Hr.astro";

import { Image } from "astro:assets";
import { pekerjaan } from "../../data/pekerjaan";

export async function getStaticPaths() {
    return pekerjaan.map((item) => ({
        params: { slug: item.slug },
    }));
}

const { slug } = Astro.params;
const { pathname } = Astro.url;

const kerjaan = pekerjaan.find((p) => p.slug === slug);

if (!kerjaan) {
    return Astro.redirect("/work");
}

const kerjaanNav = pekerjaan.map((p) => ({
    teks: p.label,
    href: `/work/${p.slug}`,
}));

const layoutFotoKerjaan = [
    "md:col-span-2 md:row-span-2",
    "md:col-start-3",
    "md:col-start-3 md:row-start-2",
];
---

<Layout
    title={`Our Work &raquo; ${kerjaan.label} | Bintang Surya Madani`}
    description={kerjaan.deskripsi}
>

    <Container class="p-4 py-2">
        <Header/>
    </Container>

    <Container class="px-4 py-24 max-w-none" imgUrl={kerjaan.gambar[0]}>
        <Container class="text-center relative z-10">
            <Title
                title={kerjaan.label}
                description={kerjaan.deskripsi}
                class="text-yellow-500"
                subclass="text-neutral-300"
            />
        </Container>
    </Container>

    <Container class="px-4 py-24 max-w-(--breakpoint-xl)">

        <div class="flex flex-row gap-4 justify-center items-center font-semibold uppercase mb-12">

            {kerjaanNav.map((nav) => {
                const isActive = pathname.startsWith(nav.href);

                return (
                    <a
                        href={nav.href}
                        class:list={[
                            "px-2 py-1 md:px-3 md:py-2 transition-all border",
                            isActive ? "text-blue-600 border-neutral-500" : "hover:text-blue-600 border-neutral-300 hover:border-neutral-500"
                        ]}
                        aria-current={isActive ? "page" : undefined}
                    >
                        {nav.teks}
                    </a>
                );
            })}

        </div>

        <div class="grid gap-4 md:grid-cols-3 md:grid-rows-2">

            {kerjaan.gambar.map((img, i) => (
                <Image
                    src={img}
                    alt={`${kerjaan.label} ${i + 1}`}
                    class={`rounded-xl border border-black/15 w-full h-full object-cover aspect-4/3 ${layoutFotoKerjaan[i] ?? ""}`}
                    loading={i === 0 ? "eager" : "lazy"}
                />
            ))}

        </div>

    </Container>

    <Hr/>

    <Footer/>

</Layout>
